h1{
	font-size : 20px;
	font-family: "Segoe Script";

}

.style{
	color:#EC4067 ;
	font-size:40px;
	font-family:"Verdana";

}
.active{
	background-color:#4CAF50;
	color:#9FB8AD;

}
body{
	margin:auto;
}
	

.circle{
	width:200px;
	height:200px;
	background:#D64933;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:50%;
	margin-right: 100px;
	position:relative;
	font-size:15px;
	float:left;
 	display :inline ;
 	padding:10px 30px;
 	display :block; 
 	
	
}
.circle:hover{
	transform:scale(1.1,1.1);
}

div{
	background-color:;
}

.textbox{
	background-color:#D7E201;
}


.third{
	list-style-type :none ; 
 		/*removes the bullets*/ 
 	margin :0; 
 		
 		 /*both removes the browser's default settings*/ 
 	background-color :#D0E2DF;
 	text-align :center; 
 	overflow: hidden; 
}
.normal{

}