h1{
	font-size : 20px;
	font-family: "Segoe Script";

}

.style{
	color:#EC4067 ;
	font-size:25px;
	font-family:"Verdana";

}
.active{
	background-color:#4CAF50;
	color:#9FB8AD;

}
body{
	margin:auto;
	background-color: #D7E2E1;
}
	

.circle{
	width:200px;
	height:200px;
	background:#9FB8AD;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:50%;
	margin-right: 100px;
	position:relative;
	font-size:20px;
	float:left;
 	display :inline ;
 	padding:10px 30px;
 	display :block; 
 	text-align: center;


 	
	
}
.circle:hover{
	transform:scale(1.1,1.1);
}



.textbox{
	background-color:#D0E2DF;
	font-size:20px;
	font-family:Verdana;

}


.third{
	list-style-type :none ; 
 		/*removes the bullets*/ 
 	margin :0; 
 		
 		 /*both removes the browser's default settings*/ 
 	background-color :#D0E2DF;
 	text-align :center; 
 	overflow: hidden; 
}
.rectangle {
	

	background: #F7F7FF;
	font-size:60px;
	padding:10px 40px;
	color:#EC4067 ;
	font-family:"Verdana";
	text-align:center;
	border: 2pt solid #000000;
	margin-left: 250px;
	margin-right: 250px;
	padding-left: 10px;
	padding-right:10px;
	font-style:bold;

}
.impstuff{
	color:red;

}